::root {
    --color-primary: #004594;
    --color-background: #303030;
    --color-accent: #ff5722;
    --color-text: #ffffff;
    --color-primary-hover: #0056b3;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-hover);
}

body {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: 700;
    background: var(--color-background, #303030);
    margin: 0;
}

footer {
    background-color: var(--color-primary, #004594);
    position: fixed;
    width: 100%;
    height: 60px;
}

footer p {
    font-weight: 700;
}

.MainScreen {
    position: relative;
    width: 375px;
    height: 600px;
    background: var(--color-background, #303030);
}

.Topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background: var(--color-primary, #004594);
}

.Topbar p {
    color: var(--color-text, #ffffff);
    margin-left: 15px;
}

.BetterFloatIcon {
    width: 40px;
    height: 40px;
}

.PermissionsButton {
    background: inherit;
    border: 0;
}

.GithubIcon {
    width: 30px;
    height: 30px;
    margin: 0 15px;
}

.MainContent {
    top: 50px;
    margin: 15px 10px;
}

.Warning {
    display: none;
    background: darkred;
    color: whitesmoke;
    text-align: center;
}

.Warning p {
    margin: 0;
    padding: 2px;
}

.Group {
    margin: 10px 0;
}

.GroupHeader {
    left: 5px;
    top: 0px;
    color: white;
}

.GroupElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    background: var(--color-primary, #004594);
    border-radius: 10px;
    margin: 5px 2px;
}

.GroupElementExtended {
    width: 350px;
    background: var(--color-primary, #004594);
    border-radius: 10px;
    margin: 5px 2px;
}

.GroupRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type='checkbox'] {
    width: 23px;
    height: 23px;
    accent-color: var(--color-accent, #ff5722);
    border-radius: 5px;
    margin-right: 15px;
}

.ElementText {
    margin-left: 18px;
    color: white;
}

.ElementDescription {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    padding-bottom: 10px;
    margin: 0px 15px 10px 20px;
}

.ElementDropdownMenu {
    min-width: 80px;
    height: 30px;
    padding-left: 7px;
    background: var(--color-background, #303030);
    border: 0;
    border-radius: 16px;
    color: white;
    margin-right: 10px;
}

.tabbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    background: var(--color-background, #004594);
}

.tabbar p {
    color: var(--color-text, #ffffff);
    margin: 0;
}

.tabItem {
    background: none;
    border: 0;
}

.tab-icon {
    width: 25px;
    height: 25px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    filter: invert(82%) sepia(3%) saturate(242%) hue-rotate(202deg) brightness(85%) contrast(92%);
}

.active .tab-icon {
    filter: invert(74%) sepia(27%) saturate(692%) hue-rotate(1deg) brightness(94%) contrast(91%);
}

.active p {
    color: var(--color-accent);
}

.tab:hover {
    filter: brightness(var(--hover-brightness));
}

.tab:active .tab-icon {
    filter: invert(84%) sepia(51%) saturate(570%) hue-rotate(329deg) brightness(91%) contrast(89%);
}

.tab:active p {
    color: var(--color-accent);
}
