.betterfloat-popup-outer {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.betterfloat-popup-language {
    width: 600px;
    background-color: var(--color-background, #303030);
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}
.betterfloat-popup-language .close {
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.betterfloat-popup-language .close:hover {
    color: #06d85f;
}

.betterfloat-popup-language .betterfloat-language-button {
    align-items: center;
    background: #4db5da;
    border: 2px solid #4db5da;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    height: 45px;
    justify-content: center;
    letter-spacing: 1.6px;
    line-height: 20px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: color .2s ease,background .2s ease,border-color .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    margin: 20px 0 5px 0;
}

.betterfloat-buff-tooltip {
    /* Positioning the tooltip text */
    position: absolute;
    z-index: 1;
    transform: translate(-16%, 40%);
    visibility: hidden;
    width: 200px;
    background-color: #192733;
    color: #fff;
    text-align: center;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    font-size: 12px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.betterfloat-buffprice {
    font-size: 12px;
    cursor: pointer;
}

.betterfloat-buffprice:hover .betterfloat-buff-tooltip {
    visibility: visible;
    opacity: 1;
}

.betterfloat-sale-tag {
    font-size: 12px !important;
    margin: 1px;
    border-radius: 3px;
}

.betterfloat-filterpopup {
    position: fixed;
    z-index: 999;
    width: 450px;
    height: 400px;
    background-color: #232728;
    border: 1px solid black;
    border-radius: 20px;
    display: none;
    translate: -210px 40px;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    transition: opacity 0.3s ease 0s;
}

.betterfloat-filterpopup-close {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 25px;
    font-weight: 600;
}

.betterfloat-filterpopup-buttondiv {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.betterfloat-filterpopup-buttondiv button {
    align-items: center;
    background: #4db5da;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    height: 36px;
    overflow: hidden;
    padding: 0 17px;
    transition: background .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 600;
}

.betterfloat-filterpopup input {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    
}

.betterfloat-filterpopup input[type=checkbox] {
    width: 23px;
    height: 23px;
    accent-color: var(--color-accent, #ff5722);
    margin-right: 5px;
    color: white;
    clip-path: circle(50% at 50% 50%);
}
.betterfloat-filterpopup input[type=text] {
    width: 100%;
    height: 36px;
    color: white;
    border-radius: 20px;
    background-color: #1d2021;
    padding: 0 0 3px 15px;
}

.betterfloat-filterpopup input[type=number] {
    height: 36px;
    color: white;
    border-radius: 20px;
    background-color: #1d2021;
    padding: 0 0 3px 15px;
    width: 100px;
}

.betterfloat-filterpopup label {
    font-size: 16px;
}

.betterfloat-filterpopup-content {
    margin: 10px 20px;
}