.betterfloat-sale-tag {
    position: relative;
    top: -3px;
    left: 3px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.betterfloat-refreshStart, .betterfloat-refreshStop {
    display: flex; 
    background-color: #616161; 
    margin: 4px; 
    padding: 7px 12px; 
    border-radius: 16px; 
    align-items: center;
}

.betterfloat-refreshContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 8px 4px 8px;
}

.betterfloat-buffprice {
    margin-left: 2px;
    padding-top: 1px;
}