{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-var-requires": 0,
    "prefer-rest-params": 0,
    "no-case-declarations": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/prefer-const": 0,
    "@typescript-eslint/no-namespace": 0,
    "prefer-const": 0
  }
}