html {
	color-scheme: dark;
}

[class*="hint--"][aria-label]:after {
	z-index: 1300;
	transition: 0.3s opacity;
	background: #2e343e;
	color: #fff;
	font-size: 13px;
	line-height: 15px;
	padding: 10px 15px;
	box-shadow: 0 0 15px #121720;
	border-radius: 5px;
}

.betterfloat-buff-a {
	display: inline-flex;
	align-items: center;
	font-size: 13px;
	line-height: 21px;
	text-decoration: none;
	z-index: 10;
}

.inventory-item .betterfloat-buff-a {
	font-size: 10px !important;
	line-height: 1.3;
}

.betterfloat-buffprice {
	margin-left: 2px;
}

.betterfloat-big-price {
	font-size: 20px;
	line-height: 24px;
}

.betterfloat-sale-tag {
	padding: 5px !important;
	border-radius: 4px !important;
	gap: 4px;
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
}

.inventory-item .betterfloat-sale-tag {
	font-size: 10px !important;
}

.betterfloat-similar-tag {
	padding: 5px !important;
	border-radius: 4px !important;
	gap: 4px;
}

.pricempire-button {
	background-color: var(--main-color);
	color: var(--black-text-color);
	padding: 8px 12px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: var(--button-main-hover) !important;
	}
}
