.betterfloat-buff-a {
	/* width: 100%; */
	display: inline-flex;
    font-size: 13px;
    line-height: 21px;
}

.betterfloat-buffprice {
	margin-left: 2px;
}

.betterfloat-sale-tag {
	padding: 1px 5px!important;
	border-radius: 4px!important;
    gap: 4px;
}