[class*="hint--"][aria-label]:after {
	color: var(--primary-text-color);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: var(--dropdown-color);
	border: 2px solid var(--highlight-background);
}

.betterfloat-buff-a {
	display: inline-flex;
	align-items: center;
	font-size: 15px;
	width: fit-content;
}

.betterfloat-sale-tag {
	position: relative;
	display: inline-flex;
	font-size: 15px;
	padding: 5px;
	border-radius: 5px;
}

.betterfloat-table-sp {
	background-color: #0003;
	border-radius: 5px;
	font-size: 13px;
	margin-left: 8px;
	margin-bottom: 5px;
	padding: 5px;
}

.betterfloat-sticker-percentage {
	border-radius: 5px;
	padding: 5px;
	white-space: nowrap;
	font-size: 12px;
	font-weight: 400;
	color: var(--primary-text-color);
}

.betterfloat-bargain-text {
	font-size: 14px;
	padding: 2px 5px;
	border-radius: 7px;
	color: var(--primary-text-color);
}

.betterfloat-buffprice {
	margin-left: 2px;
	padding-top: 1px;
}

button.betterfloat-top-button:hover {
	opacity: 0.8;
}

.betterfloat-buyorder-percentage {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	background: var(--reference-background-color);
	border-radius: 20px;
	padding: 4px 6px;

	translate: 0 3px;

	img {
		width: 14px;
		height: 14px;
	}

	span {
		color: var(--subtext-color);
		font-size: 12px;
	}
}

.bf-table td,
.bf-table th {
	text-align: center !important;
	padding: 0px 10px;
}

.bf-table thead {
	height: 56px;
}

.bf-tooltip .bf-badge-text {
	font-weight: 600;
	font-size: 18px;
	transition: all 0.2s ease-in-out;
	padding: 2px;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: 170%;
}

.bf-tooltip-inner {
	/* Positioning the tooltip text */
	position: absolute;
	z-index: 9999;
	translate: -60px 15px;

	display: flex;
	flex-direction: column;
	visibility: hidden;
	color: var(--primary-text-color);
	text-align: center;
	background-color: var(--dropdown-color);
	padding: 4px 8px;
	border-radius: 5px;
	border: 2px solid var(--highlight-background);
	font-size: 12px;
	font-weight: 400;
	width: 100px;
	backdrop-filter: blur(10px);

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.1s;
}

.bf-tooltip:hover .bf-tooltip-inner {
	visibility: visible;
	opacity: 0.9;
	transition:
		visibility 0s,
		opacity 0.2s linear;
}

.bf-tooltip:hover .bf-badge-text {
	transform: scale(1.8);
}

#bf-popup-item-container {
	grid-template-columns: 250px 1fr 210px 210px;
}

@media (min-width: 768px) and (max-width: 1050px) {
	#bf-popup-item-container {
		grid-template-columns: 250px 1fr 210px;
	}
}

@media (max-width: 768px) {
	#bf-popup-item-container {
		grid-template-columns: 1fr 210px;
	}
}

.betterfloat-gen-code-button {
	color: var(--subtext-color);
	padding: 4px 8px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	border-radius: 20px;
	background-color: var(--item-actions-background-color);
	transition: background-color 0.3s ease;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.betterfloat-gen-code-button:hover {
	background-color: var(--item-actions-background-color-selected);
}
