html {
	color-scheme: dark;
}

.betterfloat-buffprice {
	font-size: 11px;
	margin-left: 2px;
	padding-top: 1px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: .02em;
}

.betterfloat-big-price {
	font-size: 14px;
}

.betterfloat-big-a {
	margin-top: 10px;
}

.betterfloat-sale-tag {
	font-size: 11px;
	font-style: normal;
	font-weight: 525;
	line-height: 17px;
	letter-spacing: -.005em;
	text-wrap: nowrap;
	padding: 1px 3px;
	border-radius: 4px;
	margin-top: 3px;
}

.betterfloat-big-sale {
	font-size: 14px;
	margin-top: 0;
	margin-left: 5px;
	padding: 3px 5px;
}

.betterfloat-buff-a {
	width: 100%;
	display: inline-flex;
	align-items: center;
	flex-direction: row;
}

/* Hide tooltip due to issues with overlapping elements */
[class*="hint--"][aria-label]:after {
	display: none;
}
