html {
	color-scheme: dark;
}

[class*="hint--"][aria-label]:after {
	z-index: 1300;
	transition: 0.3s opacity;
	background: #2e343e;
	color: #fff;
	font-size: 13px;
	line-height: 15px;
	padding: 10px 15px;
	box-shadow: 0 0 15px #121720;
	border-radius: 5px;
}

.betterfloat-buff-a {
	display: inline-flex;
	align-items: center;
	font-size: 13px;
	line-height: 21px;
	text-decoration: none;
}

.betterfloat-buffprice {
	margin-left: 2px;
}

.betterfloat-big-price {
	font-size: 20px;
	line-height: 24px;
}

.betterfloat-sale-tag {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-weight: 600;
	font-size: 11px;
	line-height: 18px;
	padding: 2.5px 4px;
	border-radius: 4px;
}

.betterfloat-similar-tag {
	padding: 5px !important;
	border-radius: 4px !important;
	gap: 4px;
}

.betterfloat-sticker-price {
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 18px;
	color: var(--color-neutral-400);
	border-radius: 4px;
	padding: 2.5px 4px;
}
