.loader {
	width: 30px;
	height: 30px;
	border: 3px solid #f0ffff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.betterfloat-buffprice {
	font-weight: 700;
	font-size: 13px;
	margin: 1px 0 3px 2px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.betterfloat-buff-tooltip {
	/* Positioning the tooltip text */
	position: absolute;
	z-index: 1;
	transform: translate(-7%, 30%);

	visibility: hidden;
	width: 180px;
	background-color: #192733;
	color: #fff;
	text-align: center;
	padding: 8px 10px 8px 10px;
	border-radius: 6px;
	font-size: 14px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

.betterfloat-buffprice:hover .betterfloat-buff-tooltip {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.5s linear;
}

.betterfloat-listing-age {
	display: flex;
	align-items: center;
}

.betterfloat-listing-age p {
	margin: 3px 0px 0px 5px;
	font-size: 14px;
}

.betterfloat-listing-age img {
	height: 15px;
	filter: brightness(0) saturate(100%) invert(59%) sepia(55%) saturate(3028%) hue-rotate(340deg) brightness(101%) contrast(101%);
}

.betterfloat-age-card {
	margin-top: -5px;
}

.betterfloat-age-list {
	color: #a3a3cb;
}

.betterfloat-age-list p {
	font-size: 12px;
}

.betterfloat-sticker-container {
	font-size: 13px;
	border-radius: 5px;
	padding: 5px;
	margin-left: 3px;
	white-space: nowrap;
}

.betterfloat-tab-bluegem {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 8px;
	font-size: 14px;
	border-bottom: 2px solid transparent;
	color: deepskyblue;
}

.betterfloat-paintseed-container {
	font-size: 12px;
	color: #a5a5c8;
	font-weight: 500;
}

.betterfloat-paintseed-container span:first-child {
	font-weight: 400;
}

.betterfloat-paintseed-container span:last-child {
	color: #fff;
	font-size: 11px;
	font-weight: 400;
}
